*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 1140px;
  gap: 30px;
}

.result {
  flex-grow: 1;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 534px;
  width: 399px;
  gap: 30px;
}

.content__list {
  max-height: 298px;
  overflow: auto;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: contain;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  height: 103px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

  .visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  width: fit-content;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__textfield {
  color: #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  background-color: #1B1919;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:not(:has(input.search-form__textfield)) {
  cursor: pointer;
  text-decoration: underline 1px #fff;
}

 .search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: white;
  background-color: #1B1919;
  opacity: 1;
  outline: 1px solid #fff;
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 34px;
  gap: 10px;
}





h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
